body {
  font-family: 'Cabin Condensed', 'Open Sans', sans-serif;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.generator {
  max-width: 500px;
  margin: 50px auto;
  border-radius: 5px;
  padding: 5px 50px;
  background: #ffffff;
  background-color: rgba(245, 245, 245, 0.7);
}

h1 {
  font-size: 80px;
  text-align: center;
  padding: 15px;
  border-bottom: 5px solid black;
}

.quote {
  font-size: 30px;
  padding: 50px;
  text-align: center;
  height: 200px;
  width: 400px;
}

.author {
  position: relative;
  text-align: right;
  font-style: italic;
  left: 30px;
  padding: 10px;
  height: 70px;
  width: 400px;
}

button {
  font-family: 'Cabin Condensed', 'Open Sans', sans-serif;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  height: 40px;
  width: 200px;
  margin: 0 auto;
  
}

#buttons {
  text-align: center;
}

.twitter {
  font-family: 'Cabin Condensed', 'Open Sans', sans-serif;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  padding: 11px;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
}
